// Colors
$normal: #2ecc71;
$urgent: #f1c40f;
$critical: #e74c3c;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /*background-image: url("background.jpg");*/
  background-color: #eeeeee;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: bold;
  font-stretch: normal;
  font-size: 12px;
  line-height: 18px;
  font-family: sans-serif;
}

button.btn.waves-effect.waves-light.blue {
  position: relative;
  display: inline-block;
  overflow: visible;
  margin-left: 700px;
}


#todo-page, #task-page {
  height: 100%;
  overflow: scroll;
}

.completed {
  text-decoration: line-through;
}

.taskCalendar {
  padding-left: 100px;
}

.task-form__input {
  outline: none;
  border: 0;
  border-bottom: 1px dotted #666;
  border-radius: 0;
  padding: 0 0 5px 0;
  width: 100%;
  height: 50px;
  font-family: inherit;
  font-size: rem(24px);
  font-weight: 300;
  color: #fff;
  background: transparent;
}

.radio-label {
  padding-left: 0px !important;
  margin-right: 20px;
  margin-bottom: 20px;
}

.transparent {
  background-color: #1976d2 !important;
}

.radio-label:after {
  background-color: transparent !important;
  border: 0px !important;
}

.radio-label:before {
  border: 0px !important;
}

img.responsive-img.circle.right.profile-img {
  margin-top: 10px;
  margin-left: 10px;
}

button.btn-floating.btn.waves-effect.waves-light.red {
  margin-left: 20px;
}

.check {
  background-color: limegreen;
}

.due-date-reminder {
  font-size: smaller;
}

// Signup and Login
.card.white {
  margin-left: 50px;
  margin-top: 100px;
}

a.black-text.forgot-password {
  margin: auto !important;
}

img.sigu-brand {
  margin-top: 10px;
}

span.task-priority {
  margin-left: 10px;
  font-size: large;
  font-family: fantasy;
  vertical-align: bottom;
}

div#taskCalendar {
  border-bottom: ridge;
}

.custom-radios {

  div {
    display: inline-block;
  }

  input[type="radio"] {

    + label {
      color: #333;
      font-family: Arial, sans-serif;
      font-size: 14px;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        line-height: 44px;

        img {
          opacity: 0;
          transition: all .3s ease;
        }
      }
    }

    &#normal + label span {
      background-color: $normal;
    }

    &#urgent + label span {
      background-color: $urgent;
    }

    &#critical + label span {
      background-color: $critical;
    }

    &:checked + label span img {
      opacity: 1;
    }
  }
}

i.material-icons.tiny.black-text {
  padding-top: 5px;
}

span.waves-effect.waves-light.task-cat.blue {
  position: absolute;
  font-size: large;
  font-family: cursive;
}

div#todo-page {
  margin-top: 0px;
}

nav .nav-wrapper {
  position: relative;
  height: 100%;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  z-index: 10001;
}

// Nav bar
img.sigu-brand {
  margin-top: 5px;
}

a#dropProfile {
  margin-right: 25px;
}

// TaskList
.collab {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 100;
}

// Task form
.add-task {
  position: relative;
  margin-top: 1rem;
  margin-left: 20px;
}

// Dashboard logo
img.sigu-brand.logo {
  margin: auto;
}

// App margin bottom
.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

// Nav bar
a.profile-nav {
  display: -webkit-inline-box;
}
li.nav-img {
  margin-right: 20px;
}

.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 150px; /* Changed this to accomodate content width */
  max-height: auto;
	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}

// Application button
.app-btn {
  background-color: #1976d2 !important;
}

.btn.waves-effect {
  z-index: 0 !important;
}


