#======================================
# Directories
#--------------------------------------
coverage/
node_modules/
tmp/
uploads/
libTest/

#======================================
# Extensions
#--------------------------------------
*.gz
*.local
*.log
*.rar
*.tar
*.zip
*.env
*.woff
*.woff2

#======================================
# IDE generated
#--------------------------------------
.idea/
.project
*.iml


#======================================
# OS generated
#--------------------------------------
__MACOSX/
.DS_Store
Thumbs.db
